body {
  font-size: 16px;
  font-family: sans-serif;
  color: lightgray;
}

h3 {
  font-size: 1.2rem;
  color: blue;
  font-weight: 400;
}

input {
  height: 2rem;
  border-radius: 3px;
  border-style: solid;
  border: 1px solid lightgray;
}

input[type='number'] {
  width: 4rem;
}

header {
  height: 2.5rem;
  background-color: rgb(237, 246, 255);
  line-height: 2.5rem;
}

.logo {
  width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  padding-top: 2rem;
  width: 1200px;
  margin: 0 auto;
}

aside {
  width: 20%;
}

.grid-container__body {
  padding: 0 6rem;
  min-height: 500px;
  min-width: 500px;
  box-shadow: 0 0 5px lightgray;
  margin: 2rem 0;
}

.grid-container__footer {
  display: flex;
  justify-content: flex-end;
}

.btn-download {
  background-color: #2e5fca;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 0.6rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.grid-container__footer__icon {
  margin-right: 5px;
}

canvas {
  cursor: crosshair;
}
